// src/styles/_base.scss

@use 'variables' as v;
@use 'mixins' as m;


html {
 
  font-size: 62.5%;
}

@include m.mq('md') {
  html {
    font-size: 65%;
  }
}
@include m.mq('lg') {
  html {
    font-size: 70%;
  }
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {

  font-family: v.$font-family-base;
  font-size: 1.6rem;
  color: v.$text-primary;
  

  background-color: v.$primary-dark-purple;
  background-image: radial-gradient(
    circle at center,
    v.$gradient-center 0%,
    v.$gradient-mid-1 25%,
    v.$gradient-mid-2 50%,
    v.$gradient-mid-3 75%,
    v.$gradient-edge   100%
  );
  

  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}


#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}