// src/styles/_mixins.scss

@use 'variables' as v;



@mixin flex-center($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}


@mixin mq($breakpoint-name) {
  $breakpoint-width: map-get(v.$breakpoints, $breakpoint-name);

  @media (min-width: $breakpoint-width) {
    @content;
  }
}